@font-face {
    font-family: 'Young Serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(330, 100%, 96%);
    width: 100vw;
    font-size: 16px;
}

.container {
    border-radius: 30px;
    width: 50%;
    margin: 50px auto;
    padding: 50px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit';
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 20px;
}

h1 {
    color: hsl(24, 5%, 18%);
    padding: 15px 0;
}

h1, h2 {
    font-family: 'Young Serif';
    font-weight: 400;
}

h3, .prep-time li::marker {
    color: hsl(332, 51%, 32%);
}

h3 {
    font-weight: 700;
    padding-bottom: 15px;
}

.prep-time {
    background-color: hsl(330, 100%, 98%);
    margin: 25px 0;
    padding: 20px 0 20px 45px;
    border-radius: 15px;
}

li {
    padding: 7px 0;
}

h2 {
    padding-bottom: 15px;
}

h2, table span,  .ingredients li::marker, .instructions li::marker {
    color: hsl(14, 45%, 36%);
}

.bold, .instructions li::marker {
    font-weight: 600;
}

.ingredients li::marker, .prep-time li::marker {
    font-size: 0.7em;
}

.ingredients, .instructions {
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid hsla(30, 10%, 34%, 30%);
}

.attribution { 
    font-size: 13px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}