body {
    background-color: hsl(330, 100%, 98%);
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Young Serif';
}

.container {
    border-radius: 30px;
    width: 50%;
    margin: 100px auto;
    padding: 50px;
    background-color: hsl(0, 0%, 100%);
}

img {
    width: 100%;
}

h2 {
    color: hsl(14, 45%, 36%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}