@font-face {
    font-family: 'Young Serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    background-color: hsl(30, 54%, 90%);
}

.container {
    width: 45%;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: hsl(30, 10%, 34%);
    border-radius: 30px;
    margin: 140px auto;
    padding: 50px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
}

h1 {
    color: hsl(24, 5%, 18%);
    padding: 15px 0;
    font-size: 2.5em;
}

h1, h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
}

.prep-time {
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
    margin: 30px 0;
    padding: 20px 0 20px 45px;
}

.prep-title, .prep-time li::marker {
    color: hsl(332, 51%, 32%);
}

.prep-title {
    font-weight: 600;
    padding-bottom: 15px;
    font-size: 1.2em;
    font-family: 'Outfit', sans-serif;
}

.bold, .instructions li::marker {
    font-weight: 600;
}

.prep-time li::marker, .ingredients li::marker {
    font-size: 0.7em;
}

li {
    padding: 7px 0;
}

.ingredients, .instructions {
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

h2 {
    font-size: 1.6em;
    padding-bottom: 20px;
}

h2, table span,  .ingredients li::marker, .instructions li::marker {
    color: hsl(14, 45%, 36%);
}

table {
    margin-top: 15px;
    width: 100%;
}

tr {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

tr:last-child {
    border-bottom: none;
}

td {
    padding-left: 20px;
    width: 50%;
}

.attribution { 
    font-size: 13px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}