@font-face {
    font-family: 'Young Serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(330, 100%, 96%);
    width: 100vw;
    font-size: 16px;
}

.container {
    border-radius: 30px;
    width: 50%;
    margin: 100px auto;
    padding: 50px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit';
    font-weight: 400;
}

.prep-time {
    background-color: hsl(330, 100%, 98%);
    color: hsl(332, 51%, 32%);
}

.prep-time span {
    color: hsl(24, 5%, 18%);
}

h1, h2 {
    font-family: 'Young Serif';
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h3 {
    font-weight: 700;
    color: hsl(332, 51%, 32%);
}

h2, table span {
    color: hsl(14, 45%, 36%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.ingredients, .instructions {
    color: hsl(14, 45%, 36%);
}

.ingredients span, .instructions span {
    font-weight: normal;
    color: hsl(24, 5%, 18%);
}

/* .bold {
    font-weight: 600;
} */

ol li, span.bold {
    font-weight: 600;
}